@import url('icons.css');

body {
    margin-top: 5em;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid gray;
    padding: .25em 1em;
}

#total {
    text-align: right;
}

#total:before {
    content: 'Total: ';
}

.ingredient input {
    text-indent: .5em;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
}

.ingredient td {
    padding: .25em .5em;
}

.quantity input[type='text'] {
    width: 70%;
    margin-right: 5%;
}

.quantity select {
    width: 25%;
    margin: 0;
}

.icon {
    width: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.loading {
    background-image: url('//dhappy.org/.../image/icon/loading/');
    background-repeat: no-repeat;
    background-position: center;
}

.kj, .calories {
    text-align: center;
}

#recipe {
    width: 75%;
}

#recipe.loading {
}
