body {
    margin-top: 5em;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid gray;
    padding: .25em 1em;
}

#total {
    text-align: right;
}

#total:before {
    content: 'Total:';
}

.ingredient input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
}

.ingredient td {
    padding: 0;
}
