body {
    margin-top: 5em;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid gray;
    padding: .25em 1em;
}

#total {
    text-align: right;
}

#total:before {
    content: 'Total:';
}

.ingredient input {
    text-indent: .5em;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
}

.ingredient td {
    padding: .25em .5em;
}

.quantity input[type='text'] {
    width: 70%;
    margin-right: 5%;
}

.quantity select {
    width: 25%;
    margin: 0;
}

.icon {
    width: 5%;
}

/* [@id='/en/tomato'], */ #Tomato {
    background-image: url('//dhappy.org/.../image/vegetable/tomato/');
    background-repeat: no-repeat;
    background-position: center;
}
